.addMessagePage {
    display: flex;
    width: 100%;
    .addMessageContainer {
      flex: 6;

      .title{
        color: gray;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        margin-left: 30px;
    }

      .form {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
  
        flex: 1;
       -webkit-box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 3px rgba(201, 201, 201, 0.47);
        padding: 10px;
        border-radius: 10px;
        
        position: relative;

        
  
        .select1 {
          color: rgb(112, 112, 112);
          margin-top: 20px;
          margin-left: 20px;
          margin-right: 20px;
  
          .select {
            margin-top: 5px;
          }
        }
          .select2 {
            color: rgb(112, 112, 112);
            margin-top: 40px;
            margin-left: 20px;
            margin-right: 20px;
    
            .select {
              margin-top: 5px;
            }
        }
        
        .select3 {
          color: rgb(112, 112, 112);
          margin-top: 40px;
          margin-left: 20px;
          margin-right: 20px;
  
          .input1 {
            margin-left: 50px;
            width: 10%;
          }
        }

        .select4 {
          color: rgb(112, 112, 112);
          margin-top: 40px;
          margin-left: 20px;
          margin-right: 20px;
    
          .textarea {
            
            margin-left: 90px;
            margin-bottom: 40px;
            width: 50%;
          }
        }

        .button {
          width: 100px;
          height: 50px;
          margin-bottom: 40px;
          align-items: center;
          justify-content: center;
          margin: auto;
          display: flex;
          border-radius: 10px;
          border-color: white;
          font-size: 17px;
          background-color: white;
        }
    
        .button:hover {
          background-color: #ece8ff;;
        }
    }
  }
}